
.view-movie{

 padding: 1rem;   
 position: static;
}
.info-movie{

    max-width: 550px;
}
.img-container{
    width: 250px;
    height: 381px;
    background-color: gainsboro;
    border-radius: 1rem;
    /* box-shadow: .3rem .3rem 1rem white; */

}
.img-container img{
    width: 100%;
   border-radius: 1rem;
    height: 100%;
}

.container-img-tagline{
    display: flex;
    justify-content: space-evenly;
   
}
.title-movie{
    text-transform: uppercase;
    font-size: 2rem;
}

.more-info-movie{
    padding: 1rem;
}

.overview{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}

.genres{
    list-style: none;
    font-size: 1rem;

}

.actions{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    border-radius: 1rem;
    /* border: thin solid white; */
    
}

.both{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.genres-card{
    border: none;
    flex-basis: 40%;
    border-radius: 1rem;
    padding: .5rem;
    /* box-shadow: .3rem .3rem 1rem white; */
    margin-top: 1.3rem;
}


.realese{
    margin-top: 1.3rem;
    /* border: thin solid white; */
    flex-basis: 40%;
    /* border-radius: 1rem; */
    /* box-shadow: .3rem .3rem 1rem white; */
}

.Movie-view-link{
     position: absolute;
    top: 1rem;
    left: 1rem;   
     
     display: flex;
font-size: 1.5rem;
     flex-direction: column;
align-items: center;
background-color: var(--main-color);
padding: .5rem;
width: 150px;
height: 240px;
border-radius: 1rem;
    }
    .Movie-view-link a{
        color: white;
    }


    .btn-action{
        font-size: 2rem;
        padding: 0;
        outline: none;
        border: none;
        width: 80px;
    }